html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.horizontal-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}