.listcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #ddd;

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;

    &_title {
      margin: 15px;
      font-size: 0.8em;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 20px;
    overflow-y: auto;
  }

  &_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
    padding: 0 10px;

    &_button {
      margin: 10px 0;
      padding: 8px;
      border: none;
      width: 100%;
      cursor: pointer;
      transition: color 0.2s ease-in;
      transition: background-color 0.5s ease;
      border-radius: 5px;

      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}
